# BAYESIAN LIBS
pymc3==3.8
theano
mkl  # BLAS
pydot
graphviz
arviz
cython

# Plotting
matplotlib
seaborn

# Make data libs explicit:
pandas
numpy
scipy

# Notebook
jupyter
notebook
jupyter_contrib_nbextensions

# Other stats libs:
statsmodels
patsy
linearmodels
